body{
    font-family: 'Outfit','Young Serif';
    background-color: #f3e5d8;
}
/* text color styling */
section{
    background-color: hsl(0, 0%, 100%);
    padding: 32px;
    width: 630px;
    border-radius: 18px;
    margin: auto;
}
img{
    width: 630px;
    border-radius: 18px;
}
h1,
h2{
    font-family: 'Young Serif';
    font-weight: 400;
}
h2,
li::marker,
.cell-2{
    color:hsl(14, 45%, 36%);
}
li,
p,
.cell-1{
    color: hsl(30, 10%, 34%);
}
.box-text{
    color: hsl(332, 51%, 32%);
    font-weight: 700;
    padding-left: 20px;
}
.preparation-container{
    background-color: hsl(332, 51%, 93%);
    padding: 18px;
    border-radius: 8px;
}
ul li span{
    position: relative;
    left:20px
}
ul li::marker{
    font-size: 12px;
}
li{
    margin-top: 10px;
}
ol li span{
    position: relative;
    left:8px
}
table{
    border-spacing: 10px;
}
.cell-1{
    padding-right: 200px;
}
/* media query */