body{
    font-family: 'Outfit','Young Serif';
    background-color: #f3e5d8;
}
section{
    background-color: hsl(0, 0%, 100%);
    padding: 32px;
    width: 630px;
    border-radius: 18px;
    margin: auto;
}
img{
    width: 630px;
    border-radius: 18px;
}